@import '../../../scss/variables';

$loading-size: 2rem !default;

// featuring http://projects.lukehaas.me/css-loaders/
.loading {
  margin: 2rem auto;
  position: relative;
  z-index: 1;

  border: .2rem solid $accent_200;
  border-left-color: $primary_500;

  animation: lukehaas-load8 1.1s infinite linear;
}

.loading,
.loading:after {
  border-radius: 50%;
  width: $loading-size;
  height: $loading-size;
}

@keyframes lukehaas-load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
